@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(210, 46%, 95%);
  font-family: "Outfit", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  gap: 20px;
  line-height: 1.3;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  color: #fff;
  width: 80%;
}

.first {
  background-color: hsl(263, 55%, 52%);
  padding: 20px;
  border-radius: 10px;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 600;
}

.first span,
.second span,
.third span,
.forth span {
  color: hsl(0, 0%, 81%);
  font-size: 14px;
}

.second {
  background-color: hsl(217, 19%, 35%);
  padding: 20px;
  border-radius: 10px;
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.second p {
  font-weight: 600;
}

.third {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.third p {
  color: hsl(217, 19%, 35%);
  font-weight: 600;
}


.forth {
  background-color: hsl(219, 29%, 14%);
  padding: 20px;
  border-radius: 10px;
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.fifth {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  grid-column: 4/5;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fifth p {
  color: hsl(219, 29%, 14%);
  font-weight: 600;
}

.fifth span {
  color: hsl(217, 19%, 35%);
  font-size: 14px;
}

.daniel,
.jonathan,
.jeanette,
.patric,
.kira {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.daniel span,
.jonathan span,
.jeanette span,
.patric span,
.kira span {
  display: block;
  color: hsl(0, 0%, 81%);
  margin-top: 5px;
  font-size: 13px;
}

.daniel img,
.jonathan img,
.jeanette img,
.patric img,
.kira img {
  border-radius: 50%;
}

.jeanette h4 {
  color: hsl(217, 19%, 35%);
}
.kira h4 {
  color: hsl(219, 29%, 14%);
}

.attribution {
  font-size: 13px;
}

/* MOBILE DESIGN */
@media (max-width: 768px) {
  body {
    padding: 2rem;
    flex-direction: column;
  }

  section {
    grid-template-columns: repeat(1fr);
    width: 55%;
    /* width: 100%; */
  }

  .attribution {
    text-align: center;
  }

  .first {
    grid-column: 1/1;
    width: 100%;
  }

  .second {
    grid-column: 1/1;
    grid-row: 2/3;
    width: 100%;
  }

  .third {
    grid-row: 3/4;
    grid-column: 1/1;
    width: 100%;
  }

  .forth {
    grid-row: 4/5;
    grid-column: 1/1;
    width: 100%;
  }
  .fifth {
    grid-row: 5/6;
    grid-column: 1/1;
    width: 100%;
  }

  .daniel,
  .jonathan,
  .jeanette,
  .patric,
  .kira {
    column-gap: 10px;
    /* align-items: center; */
  }

  .jonathan h4,
  .jeanette h4,
  .patric h4 {
    margin-top: 5px;
  }
}
